<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>Hola Bienvenido, busca un pokemón</h1>
    <form action="/getPokemon" method="POST">
    <span>Nombre: </span><input type="text" name="nombre" class="form-input"> <input type="submit" value="Buscar">
</form>
</body>
</html>