<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(locals.nombre && locals.img){ %>
        <h1 style="color: blue; font-weight: bold; font-size: xx-large; text-transform: uppercase;"><%=nombre%> te dice hola :3</h1>
        <img style="width: 200px; height: 200px; border: solid; border-color: blueviolet;border-width: 2px;" src="<%=img%>"">
    <%}%>
</body>
</html>